<%= form_for ([@project, @task, comment]) do |f| %>
    <p>
      <%= f.label :"Comment" %><br>
      <%= f.text_field :body %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    </p>
    <p>
      <%= f.submit :class => "btn btn-default" %>
    </p>
<% end %>